//Variables
$color-primary: #D2006E;
$color-primary-dark:#93004D;
$color-primary-300:#F6CCE2;
$color-primary-700: #7E0042;
$color-critical:#DA1E28;
$color-critical-dark:#6D0F14;
$color-secondary : #160F41;
$color-gray-2: #877FAC;
$color-gray-03: #CFCCDE;
$light-blue:#F9FAFB;
$amex-blue:#4f4f4f;

$color-blue:#453F67;
$color-black: #121212;
$color-gray-dark:#2B2B2B;
$color-tertiary: #717171;
$color-gray-dark-2: #121212;
$color-gray-9:#EDEDED;
$color-gray-8: #424242;
$color-gray-7:#D0D0D0;
$color-gray-6:#F8F7F9;
$color-gray-5:#F3F3F5;
$color-gray-4: #424242;
$color-gray-3:#8A869F;
$color-gray-2: #E7E7EC;
$color-gray-1: #F9F9F9;
$color-gray-white: #E8E8E8;
$color-grayscale: #D0CFD9;
$color-magenta-5:#D486C8;
$color-purple:#B0B8E9;
$color-white:#FFFFFF;
$color-sea: #9FDCEE;
$color-green:#E7F3E5;
$color-success: #0B4401;
$color-success-2: #24A148;
$color-success-variante-1: #E7F3E5;
$color-gray-purple: #8A87A0;
$color-gray-background: #F3F3F3;
$color-magenta-primary: #ED99C5;

// 
$color_blue_info:#0F62FE;
$color_blue_light:#9CC0FF;


$text-font-size-subtitle:12px;
$text-font-size-subtitle-two:14px;
$text-font-size-body-one:18px;
$text-font-size-subtitle-two:15px;
$text-font-size-subtitle-three:16px;
$text-font-size-subtitle-four:18px;
$text-font-size-19px:19px;
$text-font-size-title:44px;
$text-font-size-title-2:43px;
$text-font-size-title-mob:30px;
$text-font-size-title2-mob:33px;
$text-font-size-35px:35PX;
$text-font-size-subtitle-one:28px;
$text-font-size-26:26px;
$text-font-size-title-tab:24px;
$text-font-size-two-title:22px;
$text-font-size-three-title:23px;

$text-font-weight-title:400;
$text-font-weight-500:500;
$text-font-weight-2:600;
$text-font-weight-3:700;

//Size Fonts
$headlines-caption-regular: 300 12px 'Nunito sans' !important;
$headlines-caption-bold: 700 12px 'Nunito sans' !important;

$headlines-body-bold: 700 16px 'Nunito sans' !important;
$headlines-body-regular: 300 18px 'Nunito sans' !important;

$headlines-subtitle-semibold: 600 35px 'Nunito sans' !important;
$headlines-m-subtitle-semibold: 600 26px 'Nunito sans' !important;


$radius-sm:8px;
$radius-sm:8px;